#MATLAB
precompile/
.autosave
_jitprj/
EMLReport/
_self/
autosave
*.autosave

#MATLAB Rapid Stuff
experiment2/slprj/raccel/
experiment2/slprj/sl_proj.tmw
experiment2/slprj/sim/_sharedutils/tflSUInfo.mat
experiment2/slprj/sim/_sharedutils/shared_file.dmr

# LaTeX
*.aux
writing/MD_JTW.pdf

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
[Oo]bj/
*.dll
*.exe
*.pdb
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
**/bin/
**/TestResults/

#Simulation results
**/results/raw/
**results/evaluated/
results/evaluated/
